/* * {
  border: solid 2px green;
} */

.app {
  
}

.monster-container {
  background: url('../../assets/compendium-border.png') no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  background-size: contain;
  position: absolute;
  padding-top: 80px;
  /* pointer-events: none; */
  z-index: 1;
}

