.search-bar {
    padding-top: 100px;
    padding-left: 60px;
    position: relative;
}

input {
    border: 2px solid #4195fc; 
    width: 300px;
    height: 35px;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
}

.button-search {
    font-family: 'Triforce';
    cursor: pointer;
    margin:20px;
    height: 35px;
    width: 110px;
    font-size: 20px;
}