.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

input {
    border: 2px solid #4195fc; 
    width: 300px;
    height: 35px;
    display:inline-block;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
}