/* .nav-bar-wrapper {
    background-color: aquamarine;
    height: 10vh;
    width: 100vw;
    margin: 0;
    position: fixed;
    cursor: pointer;
    z-index: 100000;
}

button {
    cursor: pointer;
} */